<!DOCTYPE html>
<html lang="nl">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="Stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css//css/material-design-iconic-font.min.css') }}">

</head>

<body>

    <div class="container">

        <!--=== Modal ===-->
        <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body p-2" id="flashes">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in messages %}
                                {{ message }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% endwith %}                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/overview"><img src="/static/favicon-32x32.png"/> Proxmox</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/overview">Start</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Klassen</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for klas in klassen %}       
                            <a class="dropdown-item" href="/klas?k={{ klas.name }}">Klas: {{ klas.name }}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/nieuwe-klas">Nieuwe klas aanmaken...</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pools</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for pool in pools %}       
                            <a class="dropdown-item" href="/pool?p={{ pool.name }}">Pool: {{ pool.name }}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/nieuwe-pool">Nieuwe pool aanmaken...</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Uitloggen</a>
                    </li>
                </ul>
            </div>
            {%- if request.path == "/klas" or request.path == "/pool" %}                 
                <a href="#" class="btn btn-success waves-effect" id="alles_aan"><i class="zmdi zmdi-play"></i></a>&nbsp;
                <a href="#" class="btn btn-danger  waves-effect" id="alles_uit"><i class="zmdi zmdi-stop"></i></a>
            {% endif %}
        </nav>

        {% block content %} {% endblock %}
    </div>
    
    <form id="control" method="post" action="{{ request.path }}?k={{ request.args.get('k') }}&p={{ request.args.get('p') }}">
        <input type="Hidden" id="aan" name="aan" value="0" >
        <input type="Hidden" id="klas" name="klas" value="{{ request.args.get('k') }}" >
        <input type="Hidden" id="pool" name="pool" value="{{ request.args.get('p') }}" >
    </form>
    
    <script src="{{ url_for('static', filename= 'scripts/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename= 'scripts/bootstrap.js') }}"></script>

    <script>
        $(document).ready(function() {
            if ($("#flashes *").length > 0) {
                $("#modalId").modal();
            }

            $("#alles_aan").click(function() {
                $('#aan').val('1');
                $("#control").submit();
                return false;
            });

            $("#alles_uit").click(function() {
                $('#aan').val('2');
                $("#control").submit();
                return false;
            });
        });
    </script>

    {% block script %} {% endblock %}

</body>

</html>