
{% extends 'base.html' %}

{% block title %} Proxmox, uw pincode.... {% endblock %}

{% block content %}
  <style>
    body{
      background-image: url("https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?cs=srgb&dl=pexels-designecologist-1779487.jpg&fm=jpg");
    }
    .btn-primary{
      width: 100%;
    }
    .login-form{
    background:#1a1111ea;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .login-heading{
    text-align: center;
    margin-top: 20px;
  }
  </style>

    <div class="container" style="padding-top: 150px">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="login-form">
            <form method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
              <div class="form-group">
                <label for="inputPincode">Pincode</label>
                <input type="password" class="form-control" id="inputPincode" name="inputPincode" aria-describedby="pincodeHelp" placeholder="Voer uw pincode in">
                <small id="pincodeHelp" class="form-text">Gebruik uw pincode om in te loggen.</small>
              </div>
              <button type="submit" class="btn btn-primary">Inloggen</button>
            </form>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
