 {% extends 'base2.html' %} {% block title %} Proxmox, overzicht {% endblock %} {% block content %} KLAS 1

<div class="row clearfix">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-success  waves-effect"><i class="zmdi zmdi-play"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm334435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-danger  waves-effect"><i class="zmdi zmdi-stop"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm334435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-success  waves-effect"><i class="zmdi zmdi-play"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm314435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-danger  waves-effect"><i class="zmdi zmdi-stop"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm334435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-success  waves-effect"><i class="zmdi zmdi-play"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm314435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-danger  waves-effect"><i class="zmdi zmdi-stop"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm334435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-success  waves-effect"><i class="zmdi zmdi-play"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm314435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-danger  waves-effect"><i class="zmdi zmdi-stop"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm334435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-success  waves-effect"><i class="zmdi zmdi-play"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm314435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-danger  waves-effect"><i class="zmdi zmdi-stop"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm334435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-danger  waves-effect"><i class="zmdi zmdi-stop"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm334435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{ url_for('static', filename= 'win10.jpg') }}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-success  waves-effect"><i class="zmdi zmdi-play"></i></a>
                    </div>
                </div>
                <div class="product_details">
                    <h6>skvm314435.proxmox.nl</h6>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}